<a href="https://colab.research.google.com/github/masog1/PROGCOM-A/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estructuras de repetición
permite repetir una o más acciones de acuerdo con una condición (mientras se cumpla la condición)

##Estructura para - for


1.   Cuando se sabe cuántas veces se repite una acción.
2.   Está conformado por una condición inicial (CI) una condición final (CF) y pasos (frecuencia de repeticion).
3. Esta estructura no se detendrá,hasta alcanzar CF-1

Estructura general del for

```
for (variable) in range (CI,CF+1,paso):
 Se repite (CF+1-CI)/paso veces por una acción
```
Estructura resumida del for

```
for (variable) in range (cantidad):
 Se repite cantidad de veces una acción
```
Estructura for como iteración
1.   El para (for) itera tantas veces como elementos tenga la lista
2.   La variable toma el valor de cada elemento de la lista por iteración


```
Lista=[1,2,3,4,5]
for (variable) in Lista:
Se repite len(lista)

> Añadir blockquote


```

In [ ]:
1 #Hacer la tabla de multiplicar de un número n
n=int(input("Digita un número:"))

Digita un número:9

In [ ]:
print (f"Tabla del {n}")
for holitas in range (1,11,1):
  print(f"{holitas}x{n}={n*holitas}")

Tabla del 9
1x9=9
2x9=18
3x9=27
4x9=36
5x9=45
6x9=54
7x9=63
8x9=72
9x9=81
10x9=90

In [ ]:
print("Tablas del 1 al 10\n")
print("")
for tabla in range (1,11,1):
  print(f"Tabla del{tabla}")
  for numero in range (1,11,1):
    print(f"{tabla}x{numero}={tabla*numero}")
print("")

Tablas del 1 al 10


Tabla del1
1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9
1x10=10
Tabla del2
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20
Tabla del3
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30
Tabla del4
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40
Tabla del5
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50
Tabla del6
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60
Tabla del7
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70
Tabla del8
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80
Tabla del9
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90
Tabla del10
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100

In [ ]:
print (f"Tabla del {n}")
for holitas in range (10):
  print(f"{n}x{holitas+1}={n*(holitas+1)}")

Tabla del 9
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90

In [ ]:
n=7
print (f"tabla del {n} ")
for holitas in range(1,10*n,n):
  print(f"{n} x {int(holitas/n)}={n*int(holitas/n)}")

tabla del 7
7 x 0=0
7 x 1=7
7 x 2=14
7 x 3=21
7 x 4=28
7 x 5=35
7 x 6=42
7 x 7=49
7 x 8=56
7 x 9=63

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n}x{num}={n*num}")

In [ ]:
numeros2=list(range(1,11))
numeros2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for num in numeros2:
  print(f"{n}x{num}={n*num}")

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

#listas


1.   Es un tipo de datos
2.   Todos los elementos de la lita **deben** estar separados por coma
3.   Forma canónica para declarar una lista


(variable)=[]

ejemplo:flores=["amapola","tulipan","lengua de suegra",dahlia,rosa]

In [ ]:
dahlia=3 #variable de tipo numerica, int
rosa="cinco" #variable de tipo alfanumérico, str
flores=["amapola","tulipan","lengua de suegra", dahlia,rosa]

4.  Manual.

```
Lista 2=[dato1,dato2,dato3...datoN]
```

5. siempre son finitas
6. son indexadas


```
Lista2=[dato1,dato2,dato3...datoN]
```

dato1 está en el index 0
dato2 está ubicado en el index 1

7. Estructuras **para** para la creación de listas

```
#Ejemplo: crear una lista de 5 elementos de lista=[] #Para que el programa sepa que es una lista
for loquesea in range(5):
 lista=input("ingrese el nombre de una flor")

In [ ]:
lista=[]
for loquesea in range(5):
  lista.append(loqueseainput ("ingrese el nombre de una flor ")

saber quien esta en la ultima posición

In [ ]:
flores

In [ ]:
#quiero saber quién esta en la primera posición
flores[0]

saber quien esta en la ultima posición

In [ ]:
flores[4]

In [ ]:
len(flores)

In [ ]:
flores[len(flores)-1]

**1**

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
numeros = list(range(1, 11))
for n in numeros:
    print(n)

1
2
3
4
5
6
7
8
9
10

**2**

In [ ]:
suma = 0
for i in range(1, 101):
    suma += i
print("La suma es:", suma)

La suma es: 5050

In [ ]:
numeros = list(range(1, 101))
suma = sum(numeros)
print("La suma es:", suma)

La suma es: 5050

**3**

In [ ]:
for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
multiplos = [n for n in range(1, 31) if n % 3 == 0]
for m in multiplos:
    print(m)

3
6
9
12
15
18
21
24
27
30

**4**

In [ ]:
num = int(input("Ingresa un número: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num*i}")

Ingresa un número: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
num = int(input("Ingresa un número: "))
tabla = [f"{num} x {i} = {num*i}" for i in range(1, 11)]
for linea in tabla:
    print(linea)

Ingresa un número: 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

**5**

In [ ]:
suma = 0
for i in range(5):
    num = float(input(f"Ingrese el número {i+1}: "))
    suma += num
promedio = suma / 5
print("El promedio es:", promedio)

Ingrese el número 1: 5
Ingrese el número 2: 6
Ingrese el número 3: 8
Ingrese el número 4: 9
Ingrese el número 5: 4
El promedio es: 6.4

In [ ]:
numeros = [float(input(f"Ingrese el número {i+1}: ")) for i in range(5)]
promedio = sum(numeros) / len(numeros)
print("El promedio es:", promedio)

Ingrese el número 1: 5
Ingrese el número 2: 6
Ingrese el número 3: 8
Ingrese el número 4: 1
Ingrese el número 5: 9
El promedio es: 5.8

**6**

In [ ]:
5n = int(input("Ingrese un número: "))
contador = 0
for i in range(1, n+1):
    if i % 2 == 0:
        contador += 1
print("Cantidad de pares:", contador)

Ingrese un número: 4
Cantidad de pares: 2

In [ ]:
n = int(input("Ingrese un número: "))
pares = [i for i in range(1, n+1) if i % 2 == 0]
print("Cantidad de pares:", len(pares))

Ingrese un número: 6
Cantidad de pares: 3

**7**

In [ ]:
apellido = input("Ingresa tu apellido: ")
contraseña_valida = apellido + str(len(apellido))

for _ in range(100):  # límite de intentos para no ser infinito
    password = input("Ingresa tu contraseña: ")
    if password == contraseña_valida:
        print("¡Contraseña correcta!")
        break  #sirve para romper

Ingresa tu apellido: hola4
Ingresa tu contraseña: hola45
¡Contraseña correcta!

In [ ]:
apellido = input("Ingresa tu apellido: ")
contraseña_valida = apellido + str(len(apellido))

# lista infinita simulada con iter(int, 1)
for _ in iter(int, 1):
    password = input("Ingresa tu contraseña: ")
    if password == contraseña_valida:
        print("¡Contraseña correcta!")
        break

Ingresa tu apellido: hola
Ingresa tu contraseña: hola4
¡Contraseña correcta!